# Ignore python environment
venv

# Ignore python cache
__pycache__

# Ignore built package wheel
dist
build
*.egg-info

# Ignore IDE files
.idea
.vscode

# Ignore QT Designer files
*.ui

# Ignore build documentation
docs/api
docs/build

# Ignore Mac OS X system files
.DS_Store
